html,
body {
  height: 100%;
  width: 100%;
}

body {
  color: #333;
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}

.interface {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.interface__navbar {
  padding: 0px;
  margin: 0px;
  width: 8%;
}

.interface__main {
  width: 100%;
}

@media only screen and (max-width: 1024px) {
  .interface__main {
    padding-top: 50px;
  }

  .interface__navbar {
    width: 0%;
  }
}
